# Logs & system files
*.log
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example
auth.json

# Composer
composer.lock

# Node / Build Assets
node_modules/
public/hot
public/build

# Storage (ignore all except storage/app/public so symlink works)
public/storage
storage/*.key
storage/pail
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
/storage/logs

# Vendor
/vendor

# IDE / Editor files
/.idea
/.vscode
/.fleet
/.zed
.phpactor.json
/.phpunit.cache
.phpunit.result.cache

# Laravel Nova (jika ada)
/.nova

# Backups / temp
*.bak
*.tmp
*.swp
*.orig

# Project-specific
Homestead.json
Homestead.yaml
